/* variables */

:root {
    --header-separator-color: #177E89; 
    --text-color: #323031; 
  }
/* /variables */
*{
    color:var(--text-color);
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
}
a, a:focus, a:active a:visited {
    text-decoration:none;
    color:var(--text-color);
}
a:hover {
    color:#FFC857;
    text-decoration:none;
}


.header{
    display:flex;
    margin: 0;
    
    height: 8em;

    background: rgba(255,255,255,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );

}

.headerLogo{
    
    flex-grow: 1;
    overflow: inherit;
}

.headerLinks{
    padding-right: 4em;
    padding-bottom: auto;
    align-content:bottom;
}

.headerLinks > a{
    position: relative;
    flex-grow: 1;
  
    top:2.5em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.90em;
    text-shadow: 0.4px 0.5px 1px; 
}

.escudoheader{
    width:6em;
    margin-left: 3em;
    
}

/* /HEADER */

/* BODY */

.ImagenAlbarracin{
    width: 100%;
    -webkit-box-shadow: 0px 47px 132px -101px rgba(24,48,1,0.92);
    -moz-box-shadow: 0px 47px 132px -101px rgba(24,48,1,0.92);
    box-shadow: 0px 47px 132px -101px rgba(24,48,1,0.92);
}

.bodyContainer{
    display:flex;
    flex-direction: column;
}

.CitaIndex{
    width: 80%;
    margin: 70px auto;
    text-justify: center;
}

.CitaIndex>p{

   font-size: 35px;
}

/* MEDIA */


  @media only screen and (max-width: 895px) {
    .headerLinks > a{
        visibility: hidden;
    
    }

    .header{
        display:flex;
        margin: auto;
        width: 98%;
        height: 7em;
        border-bottom: none;
    }
  }
